<section class="text-2xl font-semibold">
    <p>
        Parcels are an Australian electropop five-piece formed in Byron Bay,
        Australia, in 2014. Today they are based in Berlin, Germany. The band's
        line-up is composed of keyboardist Louie Swain, keyboardist / guitarist
        Patrick Hetherington, bassist Noah Hill, drummer Anatole "Toto" Serret,
        and guitarist Jules Crommelin.
    </p>
</section>

<section class="mt-4 font-medium">
    <p>
        Signed to French label Kitsuné, the band rose to prominence after
        collaborating with the electronic duo Daft Punk on the production and
        writing of their 2017 single "Overnight"
    </p>
    <p class="mt-4">
        In 2018 Parcels released their self-titled debut record with singles
        "Tieduprightnow", "Bemyself", "Lightenup" and "Withorwithout". Parcels
        describe themselves as "sort of a blend between electro-pop and
        disco-soul".
    </p>
</section>
