<footer
    class="bg-background-dark flex justify-between h-14 px-6 py-4 text-background-semiWhite"
>
    <div>Sara Mansori - UOC</div>
    <div class="flex gap-3">
        <a href="https://twitter.com/parcelsmusic?lang=en"
            ><i class="fa-brands fa-twitter"></i
        ></a>
        <a href="https://www.youtube.com/channel/UC2as7PrmUgmdZAkMIWNY6EQ"
            ><i class="fa-brands fa-youtube"></i
        ></a>
        <a href="https://open.spotify.com/artist/3oKRxpszQKUjjaHz388fVA"
            ><i class="fa-brands fa-spotify"></i
        ></a>
        <a href="https://www.instagram.com/parcelsmusic/"
            ><i class="fa-brands fa-instagram"></i
        ></a>
    </div>
</footer>
