<div class="relative bg-background-dark">
    <div class="mx-auto px-4 sm:px-6">
        <div
            class="flex items-center justify-between py-6 md:justify-start md:space-x-10"
        >
            <div class="flex justify-start lg:w-0 lg:flex-1">
                <a
                    href="/"
                    class="text-base text-gray-500 hovem font-black active:text-secondary-wheat"
                    >Home</a
                >
            </div>
            <div class="-my-2 -mr-2 md:hidden">
                <button
                    id="open-navbar-button"
                    type="button"
                    class="inline-flex items-center justify-center rounded-md bg-background-dark p-2 ring-secondary-wheat text-gray-400 hover:bg-gray-100 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-indigo-500"
                    aria-expanded="false"
                >
                    <span class="sr-only">Open menu</span>
                    <!-- Heroicon name: outline/bars-3 -->
                    <svg
                        class="h-6 w-6"
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="1.5"
                        stroke="currentColor"
                        aria-hidden="true"
                    >
                        <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"
                        />
                    </svg>
                </button>
            </div>
            <nav class="hidden space-x-10 md:flex font-black">
                <a
                    id="band-link"
                    href="./band.html"
                    class="nav-link text-base text-gray-500 hovem active:text-secondary-wheat"
                    >Band Members</a
                >

                <a
                    id="bio-link"
                    href="./bio.html"
                    class="nav-link text-base text-gray-500 hovem active:text-secondary-wheat"
                    >Bio</a
                >
                <a
                    id="media-link"
                    href="./band.html"
                    class="nav-link text-base text-gray-500 hovem active:text-secondary-wheat"
                    >Media</a
                >
            </nav>
        </div>
    </div>

    <!--
      Mobile menu, show/hide based on mobile menu state.
  
      Entering: "duration-200 ease-out"
        From: "opacity-0 scale-95"
        To: "opacity-100 scale-100"
      Leaving: "duration-100 ease-in"
        From: "opacity-100 scale-100"
        To: "opacity-0 scale-95"
    -->
    <div
        class="bg-background-dark absolute inset-x-0 top-0 origin-top-right hidden z-10 transform p-2 transition md:hidden"
        id="mobile-menu"
    >
        <div class="divide-y-2 rounded-lg ring-1 ring-white ring-opacity-30">
            <div class="px-5 pt-5 pb-6">
                <div class="flex items-center justify-between">
                    <div></div>
                    <div class="-mr-2">
                        <button
                            id="close-navbar-button"
                            type="button"
                            class="inline-flex items-center justify-center rounded-md bg-white p-2 text-gray-400 hover:bg-gray-100 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-indigo-500"
                        >
                            <span class="sr-only">Close menu</span>
                            <!-- Heroicon name: outline/x-mark -->
                            <svg
                                class="h-6 w-6"
                                xmlns="http://www.w3.org/2000/svg"
                                fill="none"
                                viewBox="0 0 24 24"
                                stroke-width="1.5"
                                stroke="currentColor"
                                aria-hidden="true"
                            >
                                <path
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    d="M6 18L18 6M6 6l12 12"
                                />
                            </svg>
                        </button>
                    </div>
                </div>
                <div class="mt-6">
                    <nav class="grid gap-y-8">
                        <a
                            href="/"
                            class="-m-3 flex items-center rounded-md p-3 hover:bg-gray-50 text-secondary-white hover:text-background-dark"
                        >
                            <span class="ml-3 text-base font-medium">Home</span>
                        </a>

                        <a
                            href="./band.html"
                            class="-m-3 flex items-center rounded-md p-3 hover:bg-gray-50 text-secondary-white hover:text-background-dark"
                        >
                            <span class="ml-3 text-base font-medium"
                                >Band members</span
                            >
                        </a>

                        <a
                            href="./bio.html"
                            class="-m-3 flex items-center rounded-md p-3 hover:bg-gray-50 text-secondary-white hover:text-background-dark"
                        >
                            <span class="ml-3 text-base font-medium">Bio</span>
                        </a>

                        <a
                            href="./band.html"
                            class="-m-3 flex items-center rounded-md p-3 hover:bg-gray-50 text-secondary-white hover:text-background-dark"
                        >
                            <span class="ml-3 text-base font-medium"
                                >Media</span
                            >
                        </a>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
